/* 
Primary Color:#BF9B8E
*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*  --------------- Utility Classes -----------------  */
  
  .container {
    width: 80vw;
    max-width: 960px;
    margin: 40px auto;
  }

  .img-right{
    float:right;
    border:1px #c0c0c0;
    padding:2px;
    margin:10px 0 10px 20px;
  }

  .img-left{
    float:left;
    border:1px #c0c0c0;
    padding:2px;
    margin:10px 20px 10px 0;
  }

  .img-center{
    display:block;
    border:1px #c0c0c0;
    padding:2px;
    margin:20px auto;
  }

  
  /*  --------------- Responsive Images -----------------  */
  
  img {
    max-width: 100%;
  }
  /*  --------------- Tables -----------------  */
  table{
    width:100%;
    border:1px solid #c0c0c0;
    border-collapse: collapse;
    margin:20px 0;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
  }
  table caption{
    font-weight: bold;
    margin: 10px;
  }
  table tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.2);
  }

  table tr:hover{
    background-color: rgba(0, 0, 0, 0.4);
  }
  table th{
    background-color: #172635;
    color:#fff;
    padding:10px;
  }
  table td{
    border:1px solid #c0c0c0;
    padding:5px;
    text-align:right;
    width:33%;
  }

  td:first-of-type{
    text-align: left;
  }

  /*  --------------- Lists -----------------  */
  
  ol{
    list-style-type:lower-roman;
  }

  ul ul{
    list-style-type: lower-alpha;
    color:red;
  }

  dl{}
  dt{
    font-weight: bold;
  }
  dd{
    margin:0;
  }

  dd+dt{/*adjacent selection combinator:selects the term that is followed by definition*/
    margin-top: 20px;
    color:red;
  }

  /*  --------------- Global Styles -----------------  */
  
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  
  header.primary {
    background-color:#3b638b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%239C92AC' fill-opacity='0.6'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
    color: #ffffff;
    padding: 40px;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Two Value Top/Bottom / L/R */
    padding: 20px 40px;
    text-shadow: 1px 1px #000000;
  }
  
  header.primary h1 {
    font-size: 2.4rem;
    margin: 20px 0 10px;
  }
  
  header.primary h1 a {
    color: #fff;
    text-decoration: none;
  }
  
  header.primary h2 {
    font-size: 1.4rem;
  }
  
  header.primary nav {
    max-width: 960px;
    margin: 20px auto;
  }
  
  header.primary nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  header.primary nav ul li {
    list-style-type: none;
  }
  
  header.primary nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: 0.5s;
  }
  
  header.primary nav ul li a:hover,
  header.primary nav ul li a:active {
    background: rgba(0, 0, 0, 0.8);
  }
  
  #intro {
    border-bottom: 1px dotted #c0c0c0;
    padding-bottom: 14px;
  }
  
  #intro h2 {
    color: #3b638b;
    border-bottom: 1px dotted #c0c0c0;
  }
  
  #content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px dotted #c0c0c0;
    padding-bottom:2.6rem;
  }
  
  #content article.post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
  }
  
  #content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  article.post figure {
    margin: 0;
  }
  
  time.post-date,
  figcaption,
  .post-meta {
    text-transform: uppercase;
    color: #c0c0c0;
  }
  .post figure img {
    border: 1px solid #c0c0c0;
    padding: 2px;
    border-radius: 5px;
  }
  
  article.post a {
    color: #3b638b;
  }
  
  article.post a:hover {
    text-decoration: none;
  }
  
  #practice h2{
    color:#3b638b;
    border-bottom: 1px dotted #c0c0c0;
  }
  #practice blockquote{
    border:1px solid #c0c0c0;
    margin: 40px 80px;
    padding:20px 40px;
    border-radius:40px 0;
    background-color: #3b638b;
    color:#fff;
    line-height:1.8;
    text-shadow:#3b638b;
  }
  #practice blockquote cite{
    display:block;
    font-size:0.9em;
    font-weight:bold;
    text-align:right;
    margin-top:10px;

  }
  
  
  
  
  
  
  
  aside[role="complementary"] {
    background-color: #172635;
    color: #ffffff;
    padding: 1.9rem;
  }
  
  /* Attribute Selector Example
  a[target="_blank"]{
    color:red;
  }
  
  */
  
  aside .container {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  
  aside .widget a:last-of-type {
    display: block;
    text-align: right;
    padding-top: 20px;
    color: white;
  }
  
  aside .widget footer {
    display: none;
  }
  
  #colophon {
    background-color: #3b638b;
  }
  
  #colophon h6 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
  }
  
  /*  --------------- Media Queries -----------------  */
  
  @media screen and (max-width: 600px) {
    header.primary nav ul {
      flex-direction: column;
      max-width: 250px;
      margin: auto;
    }
    header.primary nav a {
      display: block;
    }
    header.primary nav li {
      margin-bottom: 10px;
    }
  }
  












/*------------------Media Queries-------------------*/
@media screen and (max-width:600px){

header.primary nav ul {
    flex-direction: column;
    max-width: 250px;
    margin: auto;
    }
header.primary nav a {
    display: block;
    }
header.primary nav li {
    margin-bottom: 10px;
    }
        
      
}